.bron {
    margin-top: 200px;
    background-image: url(/assets/img/mainpage/banner-with-hand-holding-red-poppy-flower-symbol-remembrance-memorial-anzac-day\ 2.png);
    background-position: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px 0 190px 0;
    &_title {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 70px;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        color: #fff;
        width: 55%;
    }
    &_btn {
        margin-top: 50px;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 30px;
        color: #fff;
        padding: 23px 54px;
        background: #000;
        text-align: center;
        display: inline-block;
    }
}