.profi {
    margin-top: 200px;
    &_title {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 75px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #000;
    }
    &_suptitle {
        margin-top: 20px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 40px;
        letter-spacing: -0.03em;
        text-align: center;
        color: rgba(220, 52, 41, 0.5);
    }
    &_wrapper {
        margin-top: 80px;
        display: flex;
        gap: 70px;
        justify-content: center;
    }
    &_block {
        width: 381px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &_photo {
        height: 520px;
        width: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &_descr {
        margin-top: 40px;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 40px;
        line-height: 105%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
    }
}