@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Jost";
  src: url("/assets/fonts/Jost-VariableFont_wght.woff2") format("woff2"), url("/assets/fonts/Jost-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  src: url("/assets/fonts/Jost-Italic-VariableFont_wght.woff2") format("woff2"), url("/assets/fonts/Jost-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Commissioner";
  src: url("/assets/fonts/Commissioner-VariableFont_FLAR,VOLM.woff2") format("woff2"), url("/assets/fonts/Commissioner-VariableFont_FLAR,VOLM.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Felidae";
  src: url("/assets/fonts/Felidae.woff2") format("woff2"), url("/assets/fonts/Felidae.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family: 'Jost', sans-serif;
  --second-family: 'Felidae', sans-serif;
  --third-family: 'Commissioner', sans-serif;
}

.container {
  margin: 0 auto;
  width: 1920px;
  height: 100%;
}

/* WebKit */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* светлый фон дорожки */
}

::-webkit-scrollbar-thumb {
  background: #dc3429; /* красный ползунок */
}

::-webkit-scrollbar-thumb:hover {
  background: #b82a21; /* темнее при наведении */
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #dc3429 #f1f1f1;
}

.header {
  margin-top: 50px;
}
.header_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  justify-items: stretch;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 26px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 27px;
  text-transform: uppercase;
  color: #000;
}
.header_li_p {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  text-transform: uppercase;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.header_li_pog {
  display: none;
  position: absolute;
  grid-template-columns: auto auto auto;
  top: 100%;
  left: -20px;
  padding: 15px 20px 5px 20px;
  background: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px 20px;
}
.header_li_main {
  position: relative;
}
.header_li_main:hover .header_li_pog {
  display: grid;
}
.header_mid {
  height: 168px;
}
.header_mid img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: 100%;
}
.header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_leng {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 24px;
  color: #b2bcc1;
  position: relative;
  padding-right: 18px;
}
.header_leng span {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header_but {
  background: #dc3429;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  color: #fff;
  padding: 22px 32px;
  cursor: pointer;
}
.header_mob {
  display: none;
}

.mains {
  background-image: url(/assets/img/mainpage/image1.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 270px 0;
}
.mains_h1 {
  width: 50%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 85px;
  line-height: 115%;
  letter-spacing: 0.05em;
  color: #211d1d;
}
.mains_but {
  display: none;
}

.two {
  margin-top: 130px;
  position: relative;
}
.two_block1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.two_block1_img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.two_block1_img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 1000px;
  width: 100%;
}
.two_block1_text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-top: 140px;
  margin-right: 60px;
}
.two_block1_text_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #dc3429;
}
.two_block1_text_descr {
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 130%;
  color: #000;
}
.two_block2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
}
.two_block2_img {
  margin-top: -100px;
}
.two_block2_img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 1000px;
  width: 100%;
}
.two_block2_text {
  margin-top: 200px;
  margin-right: 60px;
}
.two_block2_text_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #dc3429;
}
.two_block2_text_descr {
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 130%;
  color: #000;
}
.two .mac1 {
  width: 459px;
  height: 412px;
  position: absolute;
  left: 0;
  bottom: -335px;
}

.service {
  margin-top: 275px;
}
.service_main {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.service_wrapper {
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px 40px;
}
.service_item {
  width: 30%;
}
.service_img {
  height: 521px;
}
.service_img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.service_title {
  margin-top: 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #dc3429;
  position: relative;
  display: block;
  width: 100%;
}
.service_title::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='18' viewBox='0 0 11 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 15.9361L8.71805 8.71805L1.5 1.5' stroke='%23B2BCC1' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  /* Позиционирование */
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.service_descr {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000;
}
.service_supdescr {
  margin-top: 6px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: #000;
}

.special {
  margin-top: 230px;
}
.special_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.special_wrapper {
  position: relative;
  margin-top: 70px;
  background: #dc3429;
  background-image: url(/assets/img/mainpage/Frame69.png);
  padding: 150px 0;
  background-size: contain;
  background-position: 60%;
  background-repeat: no-repeat;
}
.special_wrapper .container {
  display: grid;
  grid-template-columns: 7fr 4fr;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.special_sup {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 30px;
  line-height: 130%;
  color: #fff;
}
.special_suptitle {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 60px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fff;
}
.special_price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 72px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
}
.special_but {
  margin-top: 30px;
  font-family: var(--font-family);
  padding: 23px 54px;
  background: #000;
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.special_block:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.special .mak2 {
  width: 423px;
  height: 390px;
  position: absolute;
  right: 132px;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.photos {
  margin-top: 270px;
}
.photos_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.photos_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(150, 1fr);
  gap: 0px 40px;
  height: 1600px;
}
.photos_item {
  margin-bottom: 80px;
  height: auto;
}
.photos_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.photos_item:nth-child(3n+1) {
  grid-column: 1/2;
}
.photos_item:nth-child(3n+2) {
  grid-column: 2/3;
}
.photos_item:nth-child(3n+3) {
  grid-column: 3/4;
}
.photos_item:nth-child(1) {
  grid-row: 1/31;
}
.photos_item:nth-child(2) {
  grid-row: 1/66;
}
.photos_item:nth-child(3) {
  grid-row: 1/46;
}
.photos_item:nth-child(4) {
  grid-row: 31/80;
}
.photos_item:nth-child(5) {
  grid-row: 66/97;
}
.photos_item:nth-child(6) {
  grid-row: 46/77;
}
.photos_item:nth-child(7) {
  grid-row: 80/150;
}
.photos_item:nth-child(8) {
  grid-row: 97/150;
}
.photos_item:nth-child(9) {
  grid-row: 77/150;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 240px 0;
}

.slider_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider_item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 279px;
  height: 279px;
}

.slider_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.slider_phone {
  z-index: 100;
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 355px;
  height: 700px;
}

.slider_phone2 {
  position: absolute;
  top: 56%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 281px;
  height: 428px;
}

.slider2 {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 200px;
}
.slider2_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  color: #000;
}
.slider2_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-animation: scrolll 20s linear infinite;
          animation: scrolll 20s linear infinite;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.slider2_item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 512px;
}
.slider2_item_img {
  height: 469px;
}
.slider2_item_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider2_item_title {
  margin-top: 35px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 45px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #000;
}
.slider2_item_descr {
  margin-top: 30px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: #000;
}

@-webkit-keyframes scrolll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scrolll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.food {
  margin-top: 160px;
}
.food_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.food_btn {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  gap: 70px;
}
.food_li {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #b2bcc1;
  cursor: pointer;
}
.food_li_active {
  font-weight: 500;
  color: #dc3429;
  border-bottom: 3.61px solid #dc3429;
  padding: 0px 0px 7px;
}
.food_menu {
  margin-top: 156px;
  background: #dc3429;
  background-image: url(/assets/img/mainpage/mac.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 100px;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 60px 140px;
  position: relative;
}
.food_menu_active {
  display: grid;
}
.food_menu_li {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: auto 1fr auto;
  gap: 14px;
}
.food_menu_li_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  letter-spacing: -0.03em;
  color: #fff;
}
.food_menu_li_descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 36px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
}
.food_menu_li_line {
  border-bottom: 1.01px dashed rgba(255, 255, 255, 0.5);
  margin-bottom: 13px;
}
.food .mak3 {
  position: absolute;
  top: -315px;
  left: -136px;
  width: 424px;
  height: 315px;
}

.profi {
  margin-top: 200px;
}
.profi_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.profi_suptitle {
  margin-top: 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.03em;
  text-align: center;
  color: rgba(220, 52, 41, 0.5);
}
.profi_wrapper {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.profi_block {
  width: 381px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profi_photo {
  height: 520px;
  width: 100%;
}
.profi_photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.profi_descr {
  margin-top: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}

.bron {
  margin-top: 200px;
  background-image: url(/assets/img/mainpage/banner-with-hand-holding-red-poppy-flower-symbol-remembrance-memorial-anzac-day\ 2.png);
  background-position: 10%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0 190px 0;
}
.bron_title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 70px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;
  width: 55%;
}
.bron_btn {
  margin-top: 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  padding: 23px 54px;
  background: #000;
  text-align: center;
  display: inline-block;
}

.map {
  margin-top: 200px;
}
.map_wrapper {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 65px;
}
.map_info {
  position: relative;
}
.map_title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 38px;
  line-height: 130%;
  color: #dc3429;
}
.map_addres {
  margin-top: 28px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 38px;
  line-height: 130%;
  color: #000;
}
.map_phone {
  margin-top: 72px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 97px;
  line-height: 130%;
  display: block;
  color: #dc3429;
}
.map_mail {
  margin-top: 12px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 48px;
  line-height: 130%;
  color: #000;
  display: block;
}
.map_blocks {
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 60px;
}
.map_block_title {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 38px;
  line-height: 130%;
  text-transform: uppercase;
  color: #b2bcc1;
}
.map_block_descr {
  font-family: var(--font-family);
  font-size: 38px;
  line-height: 130%;
  text-transform: uppercase;
  font-weight: 400;
  color: #dc3429;
}
.map_soc {
  margin-top: 80px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 24px;
}
.map .mac5 {
  position: absolute;
  width: 365px;
  height: 294px;
  bottom: 0;
  right: -30px;
}

.footer {
  background: #171717;
  padding: 70px 0;
}
.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}
.footer_li {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
  color: #fff;
}
.footer_info {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}
.footer_create {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.7);
}
.footer_politics {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.7);
}
.footer_imp {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 20px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.7);
}

.hero {
  margin-top: 20px;
  background: #dc3429;
  background-image: url(/assets/img/mainpage/hapkasup.png);
  padding: 40px 0 87px 0;
  background-size: cover;
  background-position: 60%;
  background-repeat: no-repeat;
}
.hero .bred {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.hero .bred_item::after {
  content: " /";
}
.hero .bred_item:last-child::after {
  content: "";
}
.hero_title {
  margin-top: 130px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 90px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
}

.hero2 {
  margin-top: 20px;
  background: #dc3429;
  background-image: url(/assets/img/mainpage/hapkasup.png);
  padding: 40px 0 150px 0;
  background-size: cover;
  background-position: 60%;
  background-repeat: no-repeat;
}
.hero2 .bred {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.hero2 .bred_item::after {
  content: " /";
}
.hero2 .bred_item:last-child::after {
  content: "";
}
.hero2_title {
  margin-top: 62px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  line-height: 115%;
  letter-spacing: 0.05em;
  color: #fff;
}
.hero2_descr {
  width: 40%;
  margin-left: 60%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: #fff;
}

.photo {
  height: 787px;
}
.photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list {
  margin-top: 150px;
  position: relative;
}
.list_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: #dc3429;
}
.list_block {
  display: grid;
  grid-template-columns: 0.9fr 1fr;
  gap: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}
.list_photo {
  height: 1010px;
}
.list_photo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.list_descr {
  margin-top: 10px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  line-height: 130%;
  color: #000;
}
.list_ul {
  margin-top: 30px;
}
.list_price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
  border-bottom: 1px solid #dae4e9;
  padding: 10px 0;
}
.list_price_name {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.03em;
  color: #000;
}
.list_price_coast {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 26px;
  letter-spacing: -0.03em;
  text-align: right;
  color: #000;
}
.list_btn {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.list_bron {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  padding: 22px 30px;
  display: inline-block;
  background: #dc3429;
  text-wrap: nowrap;
}
.list_more {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 25px;
  color: #dc3429;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-wrap: nowrap;
}
.list_more svg {
  min-height: 18px;
  min-width: 14px;
}
.list .mak6, .list .mak7, .list .mak8, .list .mak9, .list .mak10 {
  position: absolute;
  width: 299px;
  height: 269px;
}
.list .mak6 {
  top: 10%;
  left: 0;
}
.list .mak7 {
  top: 43%;
  right: 0;
}
.list .mak8 {
  top: 53%;
  left: 0;
}
.list .mak9 {
  top: 70%;
  right: 0;
}
.list .mak10 {
  top: 90%;
  left: 0;
}

.philo {
  position: relative;
}
.philo_wrapper {
  display: grid;
  grid-template-columns: 6fr 5fr;
  gap: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 175px 115px 0 115px;
}
.philo_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.philo_title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  letter-spacing: -0.03em;
  color: #000;
}
.philo_suptitle {
  margin-top: 50px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 0.05em;
  color: #dc3429;
}
.philo_descr {
  margin-top: 5px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #7c7c7c;
}
.philo_photo {
  height: 723px;
}
.philo_photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.philo .mac11 {
  width: 314px;
  height: 307px;
  position: absolute;
  top: 0;
  right: 0;
}

.brand {
  margin-top: 200px;
}
.brand_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #000;
}
.brand_wrapper {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0;
}
.brand_item {
  height: 272px;
}
.brand_item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.masters {
  padding-top: 200px;
  position: relative;
}
.masters_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.masters_wrapper {
  margin-top: 80px;
}
.masters_photo {
  height: 600px;
}
.masters_photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.masters_name {
  margin-top: 40px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 45px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #dc3429;
}
.masters_descr {
  margin-top: 15px;
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #7c7c7c;
}
.masters_btn {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.masters_btn_arr {
  padding: 10px;
}
.masters_btn_arr svg path {
  stroke: #B2BCC1;
}
.masters_btn_arr_active svg path {
  stroke: #dc3429;
}
.masters .mac12 {
  width: 22%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.masters_slider {
  overflow: hidden;
  width: 100%;
}
.masters_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  margin-top: 80px;
}
.masters_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 768px) {
  .masters_item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}
.masters_btn_arr {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.masters_btn_arr.disabled {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0.4;
  pointer-events: none;
}

.sure {
  margin-top: 175px;
}
.sure_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.sure_btn {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 70px;
}
.sure_btn_item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #b2bcc1;
  cursor: pointer;
}
.sure_btn_item_active {
  font-weight: 500;
  color: #dc3429;
  border-bottom: 3.61px solid #dc3429;
  padding: 0px 0px 7px;
}
.sure_wrapper {
  margin-top: 60px;
}
.sure_item {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.sure_item_active {
  display: grid;
}
.sure_item_photo {
  border: 1px solid #dae4e9;
  border-radius: 12px;
  height: 460px;
  overflow: hidden;
  -webkit-box-shadow: 5px 4px 14px 0 rgba(218, 228, 233, 0.1), 20px 17px 26px 0 rgba(218, 228, 233, 0.09), 44px 39px 35px 0 rgba(218, 228, 233, 0.05), 78px 70px 42px 0 rgba(218, 228, 233, 0.01), 122px 109px 46px 0 rgba(218, 228, 233, 0);
          box-shadow: 5px 4px 14px 0 rgba(218, 228, 233, 0.1), 20px 17px 26px 0 rgba(218, 228, 233, 0.09), 44px 39px 35px 0 rgba(218, 228, 233, 0.05), 78px 70px 42px 0 rgba(218, 228, 233, 0.01), 122px 109px 46px 0 rgba(218, 228, 233, 0);
}
.sure_item_photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item {
  padding: 40px 0 130px 0;
}
.item .bred {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: #b2bcc1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.item .bred_item::after {
  content: " /";
}
.item .bred_item:last-child::after {
  content: "";
}
.item_title {
  margin-top: 130px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  line-height: 115%;
  letter-spacing: 0.05em;
  color: #211d1d;
  width: 60%;
}
.item_wrapper {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px;
  width: 60%;
}
.item_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item_lips {
  min-width: 60px;
  height: 48px;
}
.item_descr {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: #000;
}
.item_btn {
  margin-top: 80px;
  background: #dc3429;
  display: inline-block;
  padding: 23px 50px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

.prev {
  margin-top: 170px;
}
.prev_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
.prev_block:last-child {
  margin-top: -100px;
}
.prev_block:last-child .prev_text {
  margin-top: 100px;
}
.prev_photo {
  height: 1010px;
  width: 660px;
}
.prev_photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.prev_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: #000;
}

.shop {
  padding-top: 200px;
  position: relative;
}
.shop .mac14 {
  width: 459px;
  height: 412px;
  position: absolute;
  top: -200px;
  left: 0;
}
.shop_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
.shop_wrapper {
  margin-top: 70px;
  background: #f0faff;
  padding: 60px 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
.shop_block_title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.05em;
  color: #dc3429;
}
.shop_block_wrapper {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(220, 52, 41, 0.4);
}
.shop_block_wrapper:first-child {
  margin-top: 30px;
}
.shop_block_wrapper:last-child {
  border-bottom: none;
}
.shop_block_wrapper_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.shop_block_wrapper_title_name {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  color: #000;
}
.shop_block_wrapper_title_price {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 26px;
  letter-spacing: -0.01em;
  text-align: right;
  color: #000;
}
.shop_block_wrapper_descr {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #000;
}
.shop_btn {
  margin: 0 auto;
  margin-top: 100px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #dc3429;
  padding: 23px 54px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 30px;
  color: #fff;
}

@media (max-width: 1980px) {
  .container {
    width: 95%;
  }
  .header_li {
    font-size: 1rem;
    text-wrap: nowrap;
  }
  .header_ul {
    gap: 16px;
  }
  .header_mid {
    height: 120px;
    width: 100%;
  }
  .header_but {
    font-size: 16px;
    padding: 20px;
  }
  .mains_h1 {
    font-size: 65px;
  }
  .two {
    margin-top: 100px;
  }
  .two_block1 {
    gap: 50px;
  }
  .two_block1_text_title {
    font-size: 55px;
  }
  .two_block2 {
    gap: 50px;
  }
  .two_block2_text_title {
    font-size: 55px;
  }
  .two .mac1 {
    bottom: -350px;
    width: 20%;
  }
  .service {
    margin-top: 200px;
  }
  .service_main {
    font-size: 55px;
  }
  .special {
    margin-top: 200px;
  }
  .special_title {
    font-size: 55px;
  }
  .special .mak2 {
    width: 20%;
    height: auto;
    right: 20px;
  }
  .special_suptitle {
    font-size: 45px;
  }
  .special_but {
    padding: 20px;
    font-size: 20px;
  }
  .special_wrapper {
    background-position: bottom;
    padding: 100px 0;
  }
  .photos {
    margin-top: 200px;
  }
  .photos_title {
    font-size: 55px;
  }
  .slider2_title {
    font-size: 55px;
  }
  .slider2_item_title {
    font-size: 35px;
  }
  .food_title {
    font-size: 55px;
  }
  .food .mak3 {
    top: -214px;
    left: -125px;
    width: 20%;
  }
  .profi_title {
    font-size: 55px;
  }
  .bron {
    padding: 100px 0;
  }
  .bron_title {
    font-size: 55px;
  }
  .map_phone {
    font-size: 55px;
  }
  .map .mac5 {
    width: 265px;
    height: auto;
  }
  .footer_li {
    font-size: 30px;
  }
  .footer_info {
    gap: 30px;
  }
  .hero_title {
    padding: 0 20px;
    text-align: center;
    font-size: 55px;
  }
  .list_title {
    font-size: 55px;
  }
  .list_block {
    gap: 50px;
  }
  .list_btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .list_photo {
    height: auto;
  }
  .list .mak6, .list .mak7, .list .mak8, .list .mak9, .list .mak10 {
    width: 20%;
  }
  .hero2 .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero2_title {
    font-size: 55px;
  }
  .hero2_descr {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    margin: 40px 0 0 0;
  }
  .philo_wrapper {
    gap: 40px;
  }
  .philo .mac11 {
    width: 20%;
  }
  .brand_title {
    font-size: 55px;
  }
  .brand_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .brand_item {
    width: 33%;
  }
  .masters_title {
    font-size: 55px;
  }
  .sure_title {
    font-size: 55px;
  }
  .item {
    background-size: 40% !important;
  }
  .prev_block {
    gap: 50px;
  }
  .prev_photo {
    width: auto;
    height: auto;
  }
  .shop_title {
    font-size: 55px;
  }
  .shop .mac14 {
    top: 0;
    width: 20%;
  }
}
@media (max-width: 1400px) {
  .mains {
    padding: 170px 0 0 0;
    background-position: bottom;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 15px 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 200;
    background: white;
  }
  .header_sup {
    background: #DC3429;
  }
  .header_sup .header_mob_top_burger {
    background: #ffffff;
  }
  .header_sup .header_mob_top_burger span {
    background: #DC3429;
  }
  .header_wrapper {
    display: none;
  }
  .header_mob {
    display: block;
  }
  .header_mob_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
    z-index: 100;
  }
  .header_mob_top_img {
    height: 91px;
    width: auto;
  }
  .header_mob_top_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header_mob_top_leng {
    display: none;
    font-weight: 400;
    font-size: 20px;
  }
  .header_mob_top_burger {
    height: 49px;
    width: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 6px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #b2bcc1;
    border-radius: 2px;
    cursor: pointer;
  }
  .header_mob_top_burger span {
    width: 32px;
    min-height: 4px;
    border-radius: 2px;
    background: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header_mob_top_burger_active span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
  }
  .header_mob_top_burger_active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
  }
  .header_mob_top_burger_active span:nth-child(2) {
    opacity: 0;
  }
  .header_mob_active .header_mob_top_img {
    display: none;
  }
  .header_mob_active .header_mob_top_leng {
    display: block;
  }
  .header_mob_active .header_mob_top_burger {
    background: white;
  }
  .header_mob_active .header_mob_top_burger span {
    background: black;
  }
  .header_mob_back {
    overflow: scroll;
    width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    background: #171717;
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .header_mob_back_active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header_mob_menu {
    margin-top: 130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 26px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_mob_menu_li {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
  }
  .header_mob_menu_li p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .header_mob_menu_li_pog {
    margin-top: 20px;
    display: none;
  }
  .header_mob_menu_li_pog_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
  .header_mob_menu_li_pog_item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: underline;
  }
  .header_mob_tel {
    margin-top: 63px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 130%;
    color: #dc3429;
    display: block;
    text-align: center;
  }
  .header_mob_bron {
    display: block;
    margin-top: 50px;
    padding: 15px;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    background: #dc3429;
    width: 100%;
  }
  .header_mob_soc {
    margin-top: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
  }
  .food_menu {
    grid-template-columns: 1fr;
  }
  .food .mak3 {
    top: -108px;
    left: 0;
    width: 20%;
    height: auto;
  }
  .profi_photo {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-height: 172px;
    height: auto;
  }
  .profi_descr {
    font-size: 26px;
  }
  .map_wrapper {
    grid-template-columns: 1fr;
  }
  .sure_item {
    overflow: scroll;
  }
  .sure_item_photo {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
  .sure_item_active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .philo_wrapper {
    padding: 0;
  }
  .item_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop_block_wrapper_title_price {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }
}
@media (max-width: 450px) {
  .mains {
    margin-top: 130px;
    padding: 0;
    overflow: hidden;
    background-size: 300%;
    background-position-x: 82%;
  }
  .mains_h1 {
    font-size: 40px;
    width: 100%;
    text-align: center;
  }
  .mains_but {
    display: block;
    margin-top: 468px;
    background: #dc3429;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    text-align: center;
    padding: 15px;
  }
  .two {
    margin-top: 80px;
  }
  .two_block1 {
    gap: 0;
    grid-template-columns: 1fr;
  }
  .two_block1_img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 530px;
  }
  .two_block1_img img {
    height: 100%;
  }
  .two_block1_text {
    margin-top: 20px;
  }
  .two_block1_text_title {
    font-size: 30px;
  }
  .two_block1_text_descr {
    margin-top: 20px;
    font-size: 18px;
  }
  .two_block2 {
    gap: 0;
    grid-template-columns: 1fr;
    margin-top: 50px;
  }
  .two_block2_img {
    margin-top: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 530px;
  }
  .two_block2_img img {
    height: 100%;
  }
  .two_block2_text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-top: 20px;
  }
  .two_block2_text_title {
    font-size: 30px;
  }
  .two_block2_text_descr {
    margin-top: 20px;
    font-size: 18px;
  }
  .two .mac1 {
    display: none;
  }
  .service {
    margin-top: 80px;
  }
  .service_main {
    font-weight: 400;
    font-size: 35px;
    font-family: var(--second-family);
  }
  .service_wrapper {
    margin-top: 30px;
    gap: 30px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .service_item {
    width: 100%;
  }
  .service_img {
    height: 195px;
  }
  .service_title {
    font-size: 24px;
    margin-top: 10px;
  }
  .service_title:after {
    height: 9px;
    width: 10px;
  }
  .service_descr {
    font-size: 14px;
    margin-top: 8px;
  }
  .service_supdescr {
    font-size: 10px;
    margin-top: 3px;
  }
  .special {
    margin-top: 80px;
  }
  .special .mak2 {
    display: none;
  }
  .special_title {
    font-size: 35px;
  }
  .special_wrapper {
    margin-top: 30px;
    padding: 50px 0 0 0;
    background-size: 270%;
    background-position-y: 53%;
    background-position-x: 74%;
  }
  .special_wrapper .container {
    display: block;
    width: 100%;
  }
  .special_sup {
    font-size: 20px;
    text-align: center;
  }
  .special_suptitle {
    margin-top: 32px;
    font-size: 32px;
    text-align: center;
  }
  .special_price {
    margin-top: 70px;
    font-size: 40px;
    text-align: center;
  }
  .special_but {
    margin-top: 80px;
    text-align: center;
    width: 100%;
  }
  .photos {
    margin-top: 80px;
  }
  .photos_title {
    font-size: 35px;
  }
  .photos_title br {
    display: none;
  }
  .photos_wrapper {
    margin-top: 30px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 130px);
    height: auto;
    gap: 10px;
  }
  .photos_item {
    margin-bottom: 0;
  }
  .photos_item:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .photos_item:nth-child(2) {
    grid-row: 1/3;
    grid-column: 2/3;
  }
  .photos_item:nth-child(3) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .photos_item:nth-child(4) {
    grid-row: 3/4;
    grid-column: 2/3;
  }
  .photos_item:nth-child(5) {
    grid-row: 3/5;
    grid-column: 1/2;
  }
  .photos_item:nth-child(6) {
    grid-row: 4/5;
    grid-column: 2/3;
  }
  .photos_item:nth-child(7) {
    grid-row: 5/6;
    grid-column: 1/2;
  }
  .photos_item:nth-child(8) {
    grid-row: 5/7;
    grid-column: 2/3;
  }
  .photos_item:nth-child(9) {
    grid-row: 6/7;
    grid-column: 1/2;
  }
  .slider2 {
    margin-top: 80px;
  }
  .slider2_title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #211d1d;
  }
  .slider2_wrapper {
    margin-top: 30px;
  }
  .slider2_item {
    width: 320px;
  }
  .slider2_item_img {
    height: 240px;
  }
  .slider2_item_title {
    margin-top: 15px;
    font-size: 24px;
    padding-right: 20px;
  }
  .slider2_item_descr {
    margin-top: 10px;
    font-size: 14px;
  }
  .food {
    margin-top: 80px;
  }
  .food_title {
    font-size: 35px;
  }
  .food_btn {
    margin-top: 20px;
    gap: 40px;
  }
  .food_li {
    font-size: 20px;
  }
  .food_menu {
    margin-top: 15px;
    padding: 30px 23px;
    gap: 20px;
  }
  .food_menu_li_title {
    font-size: 20px;
  }
  .food_menu_li_line {
    margin-bottom: 9px;
  }
  .food_menu_li_descr {
    font-size: 20px;
  }
  .food .mak3 {
    display: none;
  }
  .slider {
    padding: 180px 0;
  }
  .slider_item {
    width: 200px;
    height: 200px;
  }
  .slider_phone {
    width: 254px;
    height: 500px;
  }
  .slider_phone2 {
    width: 199px;
    height: 245px;
  }
  .profi {
    margin-top: 80px;
  }
  .profi_title {
    font-size: 35px;
  }
  .profi_title br {
    display: none;
  }
  .profi_suptitle {
    margin-top: 15px;
    font-size: 20px;
  }
  .profi_wrapper {
    margin-top: 30px;
    gap: 10px;
  }
  .profi_descr {
    margin-top: 13px;
    font-size: 16px;
  }
  .bron {
    margin-top: 80px;
    padding: 380px 0 0 0;
    background-image: url(/assets/img/mainpage/flat-lay-flower-press-with-white-backgroundmob.png);
  }
  .bron_title {
    font-weight: 500;
    font-size: 32px;
    letter-spacing: -0.01em;
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }
  .bron_title br {
    display: none;
  }
  .bron_btn {
    margin-top: 20px;
    font-size: 22px;
    padding: 15px 0;
    width: 100%;
  }
  .bron .container {
    width: 100%;
  }
  .map {
    margin-top: 80px;
  }
  .map_wrapper {
    gap: 80px;
  }
  .map_title {
    font-size: 24px;
    text-align: center;
  }
  .map_addres {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
  }
  .map_phone {
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
  }
  .map_mail {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
  }
  .map_blocks {
    margin-top: 40px;
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .map_block_title {
    font-size: 24px;
    text-align: center;
  }
  .map_block_descr {
    font-size: 24px;
    text-align: center;
  }
  .map_soc {
    margin-top: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .map_soc_item {
    height: 50px;
    width: 50px;
  }
  .map .mac5 {
    display: none;
  }
  .map_info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .map_cart {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .footer {
    padding: 86px 0 50px 0;
  }
  .footer_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
  .footer_li {
    font-size: 32px;
  }
  .footer_info {
    margin-top: 60px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer_create {
    font-size: 16px;
  }
  .footer_politics {
    font-size: 16px;
  }
  .footer_imp {
    font-size: 16px;
  }
  .hero2 {
    margin-top: 0;
    padding: 0 0 300px 0;
    background-position: bottom;
    background-size: 323%;
    background-position-x: 78%;
  }
  .hero2 .bred {
    display: none;
  }
  .hero2_title {
    margin-top: 180px;
    font-size: 40px;
  }
  .hero2_descr {
    font-size: 18px;
    margin-top: 30px;
  }
  .photo {
    width: 100%;
    height: 400px;
  }
  .photo .container {
    width: 100%;
  }
  .philo {
    margin-top: 80px;
  }
  .philo_wrapper {
    grid-template-columns: 1fr;
  }
  .philo_title {
    font-size: 18px;
  }
  .philo_suptitle {
    margin-top: 33px;
    font-size: 35px;
  }
  .philo_descr {
    margin-top: 3px;
    font-size: 16px;
  }
  .philo_info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .philo_photo {
    height: 534px;
  }
  .philo .mac11 {
    display: none;
  }
  .brand {
    margin-top: 80px;
  }
  .brand_title {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .brand_wrapper {
    margin-top: 25px;
  }
  .brand_item {
    height: 115px;
  }
  .masters {
    padding-top: 80px;
  }
  .masters .mac12 {
    display: none;
  }
  .masters_title {
    font-size: 35px;
  }
  .masters_title br {
    display: none;
  }
  .masters_wrapper {
    margin-top: 40px;
  }
  .masters_item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6px 10px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
  }
  .masters_photo {
    grid-column: 1/2;
    height: 250px;
  }
  .masters_name {
    grid-column: 2/3;
    font-size: 20px;
    margin-top: 0;
  }
  .masters_descr {
    grid-column: 2/3;
    margin-top: 0;
    font-size: 14px;
  }
  .masters_btn {
    margin-top: 30px;
  }
  .sure {
    margin-top: 80px;
  }
  .sure_title {
    font-weight: 400;
    font-size: 35px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #211d1d;
  }
  .sure_btn {
    margin-top: 20px;
    gap: 35px;
  }
  .sure_btn_item {
    font-size: 20px;
  }
  .sure_wrapper {
    margin-top: 15px;
  }
  .sure_item {
    gap: 10px;
  }
  .sure_item_photo {
    width: 218px;
    height: 296px;
  }
  .list {
    margin-top: 80px;
  }
  .list_block {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .list_photo {
    height: 265px;
  }
  .list_title {
    font-size: 30px;
  }
  .list_descr {
    font-size: 18px;
  }
  .list_ul {
    margin-top: 30px;
  }
  .list_price {
    padding: 6px 0;
  }
  .list_price_name {
    font-size: 16px;
    letter-spacing: -0.03em;
    color: #000;
  }
  .list_price_coast {
    font-size: 16px;
  }
  .list_btn {
    margin-top: 40px;
    gap: 15px;
  }
  .list_bron {
    font-size: 22px;
    padding: 15px;
    width: 100%;
    text-align: center;
  }
  .list_more {
    margin-top: 0px;
    font-size: 22px;
  }
  .list_more svg {
    height: 14px;
    width: 9px;
    min-width: 9px;
    min-height: 14px;
  }
  .item {
    padding: 130px 0 0 0;
    background-size: 100% !important;
    background-position-y: 88% !important;
  }
  .item .bred {
    display: none;
  }
  .item .container {
    width: 100%;
  }
  .item_title {
    margin-top: 0;
    width: 100%;
    font-weight: 400;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-align: center;
    color: #211d1d;
  }
  .item_wrapper {
    margin-top: 30px;
    gap: 26px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2.5% 0;
  }
  .item_lips {
    min-width: 40px;
    width: 40px;
    height: 30px;
  }
  .item_block {
    gap: 10px;
  }
  .item_descr {
    font-size: 18px;
    text-align: center;
  }
  .item_btn {
    font-size: 22px;
    text-align: center;
    width: 100%;
    padding: 15px;
    margin-top: 400px;
  }
  .prev {
    margin-top: 80px;
  }
  .prev_block {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .prev_photo {
    height: 530px;
  }
  .prev_text {
    font-size: 18px;
  }
  .shop {
    margin-top: 80px;
    padding-top: 0;
  }
  .shop .container {
    width: 100%;
  }
  .shop .mac14 {
    display: none;
  }
  .shop_title {
    font-size: 35px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .shop_wrapper {
    margin-top: 28px;
    padding: 36px 15px;
    gap: 50px;
  }
  .shop_block_title {
    font-size: 30px;
    letter-spacing: 0.05em;
  }
  .shop_block_wrapper {
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .shop_block_wrapper:first-child {
    margin-top: 20px;
  }
  .shop_block_wrapper_title {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .shop_block_wrapper_title_name {
    font-size: 20px;
    line-height: 125%;
  }
  .shop_block_wrapper_title_price {
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.01em;
  }
  .shop_block_wrapper_descr {
    margin-top: 4px;
    font-weight: 300;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
  }
  .shop_btn {
    margin-top: 0;
    width: 100%;
    font-size: 22px;
    padding: 15px;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .sure_btn {
    gap: 15px;
  }
  .sure_btn_item {
    font-size: 18px;
  }
}